<header class="header">

  <section>
    <div class="logo">
      <img src="assets/images/logo.png" alt="BookMyShow">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search for Movies, Events, Plays, Sports and Activities">
    </div>

    <select name="hobbies" id="hobbies" multiple>
      <option value="reading">Reading</option>
      <option value="gaming">Gaming</option>
      <option value="coding">Coding</option>
    </select>

    <div class="sign-in">
      <button>Sign in</button>
    </div>
    <div class="menu">
      ☰
    </div>

  </section>

  <nav class="nav-links">
    <a href="#">Movies</a>
    <a href="#">Stream</a>
    <a href="#">Events</a>
    <a href="#">Plays</a>
    <a href="#">Sports</a>
    <a href="#">Activities</a>
    <a href="#">ListYourShow</a>
    <a href="#">Corporates</a>
    <a href="#">Offers</a>
    <a href="#">Gift Cards</a>
  </nav>

</header>