<div class="w-full mt-9 m-auto bg-slate-50">

  <div class="overflow-hidden w-[80%] m-auto rounded-md relative ">

    <div class="flex ease-out duration-700 rounded-lg" [style.transform]="'translateX(-'+ current * 106 +'%)'">
      @for (item of images; track $index) {
      <img [src]="item" alt="img" class="rounded-lg mx-6">
      }
    </div>

    <div class="absolute top-0 h-full w-full justify-between items-center flex px-10">
      <button (click)="previousSlide()" class=" text-2xl font-semibold text-white rounded-md">
        <ng-icon name="bootstrapArrowLeftCircleFill" />
      </button>

      <button (click)="nextSlide()" class=" text-2xl font-semibold text-white rounded-md">
        <ng-icon name="bootstrapArrowRightCircleFill" />
      </button>
    </div>

  </div>
</div>

<section class="w-10/12 px-12 m-auto py-5 mt-3">
  <h2 class="text-2xl font-semibold mb-4">Recommended Movies</h2>

  <section class="flex flex-row justify-between flex-wrap gap-11">
   @for (item of moviesData; track $index) {
    <div class="bg-white w-fit shadow-md rounded-lg overflow-hidden duration-300 hover:scale-105">

      <div class="w-fit">
        <img [src]="item.img"
          alt=" poster" class="h-80 object-contain ">
        <div class="flex items-center p-2 gap-2 bg-gray-500 text-white text-xs font-bold">
          <ng-icon name="bootstrapStarFill" />
          <p> {{item.rating}} / 10.0</p>
        </div>
      </div>
      <div class="p-2">
        <h3 class="text-sm font-semibold">{{ item.title | slice:0:30 }}{{ item.title.length > 20 ? '...' : '' }}</h3>
        <h4 class="text-xs text-gray-600">{{ item.genre| slice:0:34 }}{{ item.title.length > 20 ? '...' : '' }}</h4>
      </div>
    </div>
   }
    
  </section>
</section>