<div class="w-[80%] mt-9 m-auto bg-red-200">

  <div class="overflow-hidden relative ">

    <div class="flex ease-out duration-700" [style.transform]="'translateX(-'+ current * 100 +'%)'" >
      @for (item of images; track $index) {
      <img [src]="item" alt="img">
      }
    </div>

    <div class="absolute top-0 h-full w-full justify-between items-center flex px-10">
      <button (click)="previousSlide()" class=" text-2xl font-semibold text-white rounded-md">
        <ng-icon name="bootstrapArrowLeftCircleFill" />
      </button>

      <button (click)="nextSlide()" class=" text-2xl font-semibold text-white rounded-md">
        <ng-icon name="bootstrapArrowRightCircleFill" />
      </button>
    </div>

  </div>
</div>