<main class="w-[70%] h-[500px] border m-auto mt-5 relative overflow-hidden">
    <div class="absolute w-full h-full flex">
      <img
        src="https://picsum.photos/id/233/1000/500"
        id="slide"
        class="h-full w-full object-cover absolute"
        alt="Slide 1"
      />
      <img
        src="https://picsum.photos/id/221/1000/500"
        id="slide"
        class="h-full w-full object-cover absolute"
        alt="Slide 2"
      />
      <img
        src="https://picsum.photos/id/267/1000/500"
        id="slide"
        class="h-full w-full object-cover absolute"
        alt="Slide 3"
      />
      <img
        src="https://picsum.photos/id/287/1000/500"
        id="slide"
        class="h-full w-full object-cover absolute"
        alt="Slide 4"
      />
    </div>
  </main>
  